.App {
  text-align: center;
}

.route-info-wrapper .gm-style-iw-chr {
  display: none;
}
.gm-style-iw .gm-style-iw-c {
  padding-left: 0;
}

.schedule-list {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  cursor: pointer;
}

.schedule-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.schedule-list li {
  padding: 10px;
  border: 1px solid #d5d0d0;
}

.schedule-list li:hover {
  background-color: #eaecec;
}

.sechedule-selected {
  background-color: #eaecec;
}
